.button {
  width: 100%;
  background: rgb(153, 153, 153);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
}

.button:hover {
  background: rgb(158, 158, 158);
}

.button:disabled {
  background: rgb(105, 105, 105);
  cursor: not-allowed;
}
